<!DOCTYPE html>
<html>
    <head>
        <meta>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/">トップ</a></li>
                <li><a href="/fish_index">地魚一覧</a></li>
            </ul>
        </header>
        <h1>おすすめの地魚を登録してください!</h1>
        <form role="form" action="/create" method="POST">
            <label for="name">名前: </label><input type="text" name="name" width="200px"></br>
            <label for="origin">産地: </label><input type="text" name="origin" width="200px">
            <button type="submit">登録</button>
        </form>
    </body>
</html>